#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# terraform cache
*.terraform.lock.hcl

# User kubernetes cluster configs
kubeconfig

# Local .DS_Store
**/.DS_Store
